In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('/content/data.csv')

print(df.head(10))

       id  inning  ...           batting_team                 bowling_team
0  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
1  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
2  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
3  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
4  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
5  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
6  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
7  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
8  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
9  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore

[10 rows x 18 columns]

In [8]:
#Mean
x = df["batsman_runs"].mean()
print(int(x))
#df["batsman_runs"].fillna(x, inplace = True)

1

In [5]:
#Median
x = df["batsman_runs"].median()
print(x)
#df["batsman_runs"].fillna(x, inplace = True)

1.0

In [15]:
#Mode
x = df["batsman_runs"].mode()[0]
print(x)
#df["batsman_runs"].fillna(x, inplace = True)

0